# Build / OS
build/
*.o
*.exe
*.out

# Python
__pycache__/
*.py[cod]
.env

# VS Code
.vscode/

# Data - ignore all contents except documentation and structure files
data/*
!data/.gitkeep
!data/README.md
!data/raw/
!data/processed/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Misc
.DS_Store
